.benefits-section{
  position: relative;
  z-index: 1000;
  background-color: #ffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .benefits-section h2, h3 div, h1, p{
  color: var(--dark-primary);
} */

.benefits-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  text-align: center;
}

.benefits-title .title-purple{
  margin-top: 7.5rem;
  color: #7C5CFC;
  font-size: 1.25rem;
}

.benefits-title h1{
  margin-top: 0.75rem;
  color: var(--dark-primary);
  font-size: 2.5rem;
}


.benefits-container p{
  margin-top: 0.75rem;
  color: var(--gray);
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400;
}

.benefits-title .title{
  margin-top: 7.5rem;
}

.benefits-details h1, h2, h3, p{
  color: var(--dark-primary);
}

.benefits-details p{
  color: var(--gray);
}

.benefits-details{
  margin-top: 4.8125rem;
  width: 100%;
  padding: 0 280px;
  gap: 5.9375rem;
  display: flex;
} 

.benefits-card{
  width: 100%;
  padding: 0 1.5rem;
}

.benefits-cards{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}

.benefits-details .benefits-card{
  display: flex;

}

.benefits-details .benefits-card .card-image{

}

.benefits-details .benefits-card .card-content{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-left: 2rem;
}



@media (max-width: 450px){

  .benefits-section{
    height: 100%;
  }

  .benefits-container{
    margin: 0;
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    
  }

  .benefits-title .title-purple{
    margin-top: 2rem;
    font-size: 0.90rem;
  }

  .benefits-title h1{
    font-size: 1.5rem;
  }

  .benefits-container p{
    margin-top: 1rem;
    text-align: start;
    font-size: 0.9rem;
    color: var(--dark-primary) ;
  }

  .benefits-title{
    align-items: start;
    text-align: start;
    width: 100%;
  }

  .benefits-details{
    margin-top: 1rem;
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 2rem;
  }

  .benefits-card h1{
    font-size: 1em;
  }

  .benefits-card p{
    font-size: 0.9rem;
  }

  .transaction-history{
    margin-top: 0;
    width: 100%;
    padding: 1.5rem;
  }

  .transaction-history img{
    width: 100%;
    margin-bottom: 20rem ;
  }


}