* {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white-primary);
}

.button-cta-purple{
  border: 0;
  outline: 0;
  background-color: transparent;
  color: var(--white-primary);
  font-size: 1rem;
  background-color: #7C5CFC;
  border-radius: 30px;
  font-weight: 600;
  padding: 0.875rem 1.5rem;
}


.button-cta-gray{
  border: 0;
  outline: 0;
  background-color: var(--gray);
  color: var(--gray-secondary);
  font-weight: 600;
  font-size: 1rem;
  border-radius: 30px;
  padding: 0.875rem 1.5rem;
}

